<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="public\css\style.css" />

  <title>Resume Generator</title>
</head>

<body id='cvform'>
  <script>function addNewWeField() {
      console.log('Adding new Field');
      let newNode = document.createElement("textarea");
      newNode.classList.add("form-control");
      newNode.classList.add("weField");
      newNode.classList.add("mt-2");
      newNode.setAttribute("rows", 2);
      newNode.setAttribute('placeholder', 'Enter here');
      newNode.setAttribute('name', 'w');
      let weAddButton = document.getElementById("weAddButton");
      let we = document.getElementById("we");
      we.insertBefore(newNode, weAddButton);

    }
    function addNeweqField() {
      console.log('Adding new Field');
      let newNode = document.createElement("textarea");
      newNode.classList.add("form-control");
      newNode.classList.add("eqField");
      newNode.classList.add("mt-2");
      newNode.setAttribute("rows", 2);
      newNode.setAttribute('placeholder', 'Enter here');
      newNode.setAttribute('name', 'e');
      let weAddButton = document.getElementById("eqAddButton");
      let we = document.getElementById("eq");
      we.insertBefore(newNode, aqAddButton);

    }
    function addJ() {
      console.log("Adding J")
      let jobName = document.createElement("input");
      let jobNameL = document.createElement("label");
      jobNameL.innerHTML = "job Name"
      jobName.classList.add("form-control")
      jobName.classList.add("mt-2")
      jobName.classList.add("jobName")
      jobName.setAttribute('id', 'jobName')
      jobName.setAttribute('name', 'jobName')
      jobName.setAttribute('placeholder', 'Enter here');
      let j = document.getElementById('j')
      let jB = document.getElementById('jB')
      j.insertBefore(jobNameL, jB)
      j.insertBefore(jobName, jB)
      let jobDesc = document.createElement("input");
      let jobDescL = document.createElement("label");
      jobDescL.innerHTML = "job Description"
      jobDesc.classList.add("form-control")
      jobDesc.classList.add("mt-2")
      jobDesc.classList.add("jobDesc")
      jobDesc.setAttribute('id', 'jobDesc')
      jobDesc.setAttribute('placeholder', 'Enter here');
      jobDesc.setAttribute('name', 'jobDesc')
      j.insertBefore(jobDescL, jB)
      j.insertBefore(jobDesc, jB)
      //location
      let jobLocation = document.createElement("input");
      let jobLocationL = document.createElement("label");
      jobLocationL.innerHTML = "job Location"
      jobLocation.classList.add("form-control")
      jobLocation.classList.add("mt-2")
      jobLocation.classList.add("jobLocation")
      jobLocation.setAttribute('id', 'jobLocation')
      jobLocation.setAttribute('name', 'jobLocation')
      jobLocation.setAttribute('placeholder', 'Enter here');
      j.insertBefore(jobLocationL, jB)
      j.insertBefore(jobLocation, jB)
      //company
      let co = document.createElement("input");
      let coL = document.createElement("label");
      coL.innerHTML = "Company"
      co.classList.add("form-control")
      co.classList.add("mt-2")
      co.classList.add("company")
      co.setAttribute('id', 'company')
      co.setAttribute('name', 'company')
      co.setAttribute('placeholder', 'Enter here');
      j.insertBefore(coL, jB)
      j.insertBefore(co, jB)
      //stdate
      let stDate = document.createElement("input");
      let stDateL = document.createElement("label");
      stDateL.innerHTML = "Start Date"
      stDate.classList.add("form-control")
      stDate.classList.add("mt-2")
      stDate.classList.add("stDate")
      stDate.setAttribute('type', 'date')
      stDate.setAttribute('name', 'stDate')

      j.insertBefore(stDateL, jB)
      j.insertBefore(stDate, jB)
      //enDate
      let enDate = document.createElement("input");
      let enDateL = document.createElement("label");
      enDateL.innerHTML = "End Date"
      enDate.classList.add("form-control")
      enDate.classList.add("mt-2")
      enDate.classList.add("enDate")
      enDate.setAttribute('type', 'date')
      enDate.setAttribute('name', 'enDate')

      j.insertBefore(enDateL, jB)
      j.insertBefore(enDate, jB)

    }
    function addNewContactField() {
      console.log('Adding new Field');
      let newNode = document.createElement("input");
      newNode.classList.add("form-control");
      newNode.classList.add("contactField");
      newNode.classList.add("mt-2");
      newNode.setAttribute("rows", 2);
      newNode.setAttribute('placeholder', 'Enter here');
      newNode.setAttribute('name', 'contactNumber');
      let addNewContactButton = document.getElementById("contactAddButton");
      let we = document.getElementById("contactNumber");
      we.insertBefore(newNode, addNewContactButton);

    }
    function addEducation() {
      console.log("Ed")
      let institutionName = document.createElement("input");
      let institutionNameL = document.createElement("label");
      institutionNameL.innerHTML = "Institution Name"
      institutionName.classList.add("form-control")
      institutionName.classList.add("mt-2")
      institutionName.classList.add("institutionName")
      institutionName.setAttribute('id', 'institutionName')
      institutionName.setAttribute('name', 'educationId')
      institutionName.setAttribute('placeholder', 'Enter here');
      let e = document.getElementById('e')
      let eduButton = document.getElementById('eduButton')
      e.insertBefore(institutionNameL, eduButton)
      e.insertBefore(institutionName, eduButton)
      //adding course name field
      let courseName = document.createElement("input");
      let courseNameL = document.createElement("label");
      courseNameL.innerHTML = "Course Name"
      courseName.classList.add("form-control")
      courseName.classList.add("mt-2")
      courseName.classList.add("courseName")
      courseName.setAttribute('id', 'courseName')
      courseName.setAttribute('name', 'courseName')
      courseName.setAttribute('placeholder', 'Enter here');
      e.insertBefore(courseNameL, eduButton)
      e.insertBefore(courseName, eduButton)
      //course Location
      let courseLocation = document.createElement("input");
      let courseLocationL = document.createElement("label");
      courseLocationL.innerHTML = "Course Location"
      courseLocation.classList.add("form-control")
      courseLocation.classList.add("mt-2")
      courseLocation.classList.add("courseLocation")
      courseLocation.setAttribute('id', 'courseLocation')
      courseLocation.setAttribute('name', 'courseLocation')
      courseLocation.setAttribute('placeholder', 'Enter here');
      e.insertBefore(courseLocationL, eduButton)
      e.insertBefore(courseLocation, eduButton)
      //gpa

      let gpa = document.createElement("input");
      let gpaL = document.createElement("label");
      gpaL.innerHTML = "GPA"
      gpa.classList.add("form-control")
      gpa.classList.add("mt-2")
      gpa.classList.add("gpa")
      gpa.setAttribute('id', 'gpa')
      gpa.setAttribute('name', 'gpa')
      gpa.setAttribute('placeholder', 'Enter here');
      e.insertBefore(gpaL, eduButton)
      e.insertBefore(gpa, eduButton)
      //Time
      let eduDate = document.createElement("input");
      let eduDateL = document.createElement("label");
      eduDateL.innerHTML = "Date"
      eduDate.classList.add("form-control")
      eduDate.classList.add("mt-2")
      eduDate.classList.add("eduDate")
      eduDate.setAttribute('type', 'date')
      eduDate.setAttribute('name', 'eduDate')

      e.insertBefore(eduDateL, eduButton)
      e.insertBefore(eduDate, eduButton)
    }

    function generateCV() {
      console.log("generating cv");
      let nf = document.getElementById('nameF').value;
      let name1 = document.getElementById('name1');
      //name1.innerHTML=nf;
      document.getElementById('name2').innerHTML = nf;

      document.getElementById("addressT").innerHTML = document.getElementById("addressField").value;

      document.getElementById("instaT").innerHTML = document.getElementById("instaField").value;
      document.getElementById("linkedinT").innerHTML = document.getElementById("linkedinField").value;
      document.getElementById("objT").innerHTML = document.getElementById("o").value;

      let we = document.getElementsByClassName("weField");
      let str = "";
      for (let e of we) {
        str = str + `<li>${e.value}</li>`;
      }
      document.getElementById("weT").innerHTML = str;

      /*let ee=document.getElementsByClassName("eqField");
       let str1="";
       for(let e of ee)
       {
           str1=str1+`<li>${e.value}</li>`;
       }
   document.getElementById("eqT").innerHTML=str1;*/

      //document.getElementById("institutionNameT").innerHTML=document.getElementById("institutionName").value

      //document.getElementById("gpaT").innerHTML=document.getElementById("gpa").value

      //document.getElementById("courseNameT").innerHTML=document.getElementById('courseName').value;
      //document.getElementById("courseLocationT").innerHTML=document.getElementById('courseLocation').value;

      // document.getElementById("jobNameT").innerHTML=document.getElementById("jobName").value
      //document.getElementById("jobDescT").innerHTML=document.getElementById("jobDesc").value
      //document.getElementById("companyT").innerHTML=document.getElementById("company").value
      //document.getElementById("jobLocationT").innerHTML=document.getElementById("jobLocation").value

      //document.getElementById("pLinkT").innerHTML=document.getElementById("pLink").value
      //document.getElementById("pnameT").innerHTML=document.getElementById("pname").value
      //document.getElementById("pDescriptionT").innerHTML=document.getElementById("pDescription").value
      //document.getElementById("projectDT").innerHTML=document.getElementById("projectD").value
      // document.getElementById("9lT").innerHTML=document.getElementById("projectName").value



      /*let ss=document.getElementById("skillName")
      let str3=""
      for(let e of ss){
        str3=str3+`<li>${e.value},</li>`;
 
      }
      document.getElementById("skillT").innerHTML=str3*/

      let cc = document.getElementsByClassName("contactField");
      console.log(cc)
      let str2 = "";
      for (let e of cc) {
        str2 = str2 + `<p>${e.value},</p>`;
      }
      document.getElementById("contactT").innerHTML = str2;
      console.log("ksks")
      let a = document.getElementsByClassName("certName");
      let b = document.getElementsByClassName("certDesc")
      console.log(a[0].value)
      let str3 = "";
      for (let i = 0; i < a.length; i++) {
        str3 = str3 + `<p>${a[i].value}: ${b[i].value}</p>`;
      }
      document.getElementById("certReplace").innerHTML = str3;
      b = document.getElementsByClassName("skillName")

      str3 = "";
      for (let i = 0; i < b.length; i++) {
        str3 = str3 + `<p>${b[i].value}</p>`;
      }
      document.getElementById("skillReplace").innerHTML = str3;
      a = document.getElementsByClassName("accName");
      b = document.getElementsByClassName("accDesc")

      str3 = "";
      for (let i = 0; i < a.length; i++) {
        str3 = str3 + `<p>${a[i].value}: ${b[i].value}</p>`;
      }
      document.getElementById("accReplace").innerHTML = str3;

      a = document.getElementsByClassName("rlink");
      b = document.getElementsByClassName("rname")
      let d = document.getElementsByClassName("rdesg")

      str3 = "";
      for (let i = 0; i < a.length; i++) {
        str3 = str3 + `<p>Link : ${a[i].value}  Name : ${b[i].value} Designation : ${d[i].value}  </p>`;
      }
      document.getElementById("rccReplace").innerHTML = str3;

      a = document.getElementsByClassName("institutionName");
      b = document.getElementsByClassName("courseName")
      d = document.getElementsByClassName("courseLocation")
      let g = document.getElementsByClassName("gpa")
      str3 = "";
      for (let i = 0; i < a.length; i++) {
        str3 = str3 + `<p>School Name  : ${a[i].value}  Course : ${b[i].value} Location : ${d[i].value}  GPA : ${g[i].value}</p>`;
      }
      document.getElementById("eReplace").innerHTML = str3;

      a = document.getElementsByClassName("projectName");
      b = document.getElementsByClassName("projectDescription")
      console.log(a)
      str3 = "";
      for (let i = 0; i < a.length; i++) {
        str3 = str3 + `<p>Project Name : ${a[i].value}   Description: ${b[i].value}  </p>`;
      }
      document.getElementById("prReplace").innerHTML = str3;
      a = document.getElementsByClassName("pLink");
      b = document.getElementsByClassName("pname")
      d = document.getElementsByClassName("pDescription")

      str3 = "";
      for (let i = 0; i < a.length; i++) {
        str3 = str3 + `<p>Link : ${a[i].value}  Name : ${b[i].value} Description: ${d[i].value}  </p>`;
      }
      document.getElementById("pReplace").innerHTML = str3;
      a = document.getElementsByClassName("jobName");
      b = document.getElementsByClassName("jobDesc")
      d = document.getElementsByClassName("company")
      var k = document.getElementsByClassName("jobLocation")
      var l = document.getElementsByClassName("stDate")
      var m = document.getElementsByClassName("enDate")
      str3 = "";
      console.log("reached")
      for (let i = 0; i < a.length; i++) {
        str3 = str3 + `<p>Name: ${a[i].value} Description : ${b[i].value} Company: ${d[i].value}  Location : ${k[i].value} Start Date: ${l[i].value} End Date : ${m[i].value}</p>`;
      }
      console.log(str3)
      document.getElementById("jReplace").innerHTML = str3;

      document.alert("Added New Record")

    }

    function printCV() {
      window.print();
    }

    function addNewCertification() {
      console.log('Adding new Certification')
      //node for certificate name
      let certname = document.createElement("input");
      let certnameL = document.createElement("label");
      certnameL.innerHTML = "Certification Name"
      certname.classList.add("form-control")
      certname.classList.add("mt-2")
      certname.classList.add("certName")
      certname.setAttribute('id', 'certName')
      certname.setAttribute('name', 'certName')
      certname.setAttribute('placeholder', 'Enter here');
      //node for certificate description
      let certdesc = document.createElement("input");
      let certdescL = document.createElement("label")
      certdescL.innerHTML = "Certficate Description"
      certdesc.classList.add("form-control")
      certdesc.classList.add("mt-2")
      certdesc.classList.add("certDesc")
      certdesc.setAttribute('id', 'certDesc')
      certdesc.setAttribute('placeholder', 'Enter here');
      certdesc.setAttribute('name', 'certDesc')
      //adding the certificate name input field
      let c = document.getElementById('c')
      let cert = document.getElementById('cert')
      c.insertBefore(certnameL, cert)
      c.insertBefore(certname, cert)
      //adding the certificate description input field
      c.insertBefore(certdescL, cert)
      c.insertBefore(certdesc, cert)
    }

    function addNewSkill() {
      console.log('Adding new Skill')
      //node for skill name
      let skillname = document.createElement("input");

      let skillnameL = document.createElement("label");
      skillnameL.innerHTML = "Skill Name"
      skillname.classList.add("form-control")
      skillname.classList.add("mt-2")
      skillname.classList.add("skillName")
      skillname.setAttribute('id', 'skillName')
      skillname.setAttribute('name', 'skillName')
      skillname.setAttribute('placeholder', 'Enter here');


      let levelOfExpertise = document.createElement("input");
      let levelOfExpertiseL = document.createElement("label");
      levelOfExpertiseL.innerHTML = "Level of Expertise"

      levelOfExpertise.classList.add("form-control")
      levelOfExpertise.classList.add("mt-2")
      levelOfExpertise.classList.add("levelOfExpertise")
      levelOfExpertise.setAttribute('id', 'levelOfExpertise')
      levelOfExpertise.setAttribute('name', 'levelOfExpertise')
      levelOfExpertise.setAttribute('placeholder', 'Enter here');





      //adding the skill name input field
      let a = document.getElementById('skill')
      let b = document.getElementById('skillButton')
      a.insertBefore(skillnameL, b)
      a.insertBefore(skillname, b)

      a.insertBefore(levelOfExpertiseL, b)
      a.insertBefore(levelOfExpertise, b)





    }
    function addNewAcc() {
      console.log("Adding New Acc")
      //creating eleemntfor accName
      let accName = document.createElement('input')
      let accNameL = document.createElement('label')
      accNameL.innerHTML = "Acc Name"
      accName.classList.add('form-control')
      accName.classList.add('mt-2')
      accName.classList.add('accName')
      accName.setAttribute('name', 'accName')
      accName.setAttribute('placeholder', 'Enter here');
      //creating element for acc description
      let accDesc = document.createElement('input')
      accDesc.classList.add('form-control')
      accDesc.classList.add('mt-2')
      accDesc.classList.add('accDesc')
      let accDescL = document.createElement('label')
      accDescL.innerHTML = "Acc Desc"
      accDesc.setAttribute('name', 'accDesc')
      accDesc.setAttribute('placeholder', 'Enter here');
      //adding the fields
      let acc = document.getElementById('acc')
      let a = document.getElementById('accButton')
      acc.insertBefore(accNameL, a)
      acc.insertBefore(accName, a)
      acc.insertBefore(accDescL, a)
      acc.insertBefore(accDesc, a)



    }
    function addNewProj() {
      console.log("Adding New Proj")
      //project Name
      let projectName = document.createElement('input')
      let projectNameL = document.createElement('label')
      projectNameL.innerHTML = "Project  Name"
      projectName.classList.add('form-control')
      projectName.classList.add('mt-2')
      projectName.classList.add('projectName')
      projectName.setAttribute('name', 'projectName')
      projectName.setAttribute('placeholder', 'Enter here');
      let p = document.getElementById("pr")
      let pButton = document.getElementById("prButton")
      p.insertBefore(projectNameL, pButton)
      p.insertBefore(projectName, pButton)
      //DESCRIPTION
      let projectDescription = document.createElement('input')
      let projectDescriptionL = document.createElement('label')
      projectDescriptionL.innerHTML = "Project  Description"
      projectDescription.classList.add('form-control')
      projectDescription.classList.add('mt-2')
      projectDescription.classList.add('projectDescription')
      projectDescription.setAttribute('name', 'projectDescription')
      projectDescription.setAttribute('placeholder', 'Enter here');
      p.insertBefore(projectDescriptionL, pButton)
      p.insertBefore(projectDescription, pButton)
      //workDate
      let workDate = document.createElement("input");
      let workDateL = document.createElement("label");
      workDateL.innerHTML = "Work Date"
      workDate.classList.add("form-control")
      workDate.classList.add("mt-2")
      workDate.classList.add("workDate")
      workDate.setAttribute('type', 'date')
      workDate.setAttribute('name', 'workDate')

      p.insertBefore(workDateL, pButton)
      p.insertBefore(workDate, pButton)


    }
    function addRcc() {
      console.log("Adding New RCC")
      //creating elementfor Link
      let rccLink = document.createElement('input')
      let rccLinkL = document.createElement('label')
      rccLinkL.innerHTML = "Recommendation Link"
      rccLink.classList.add('form-control')
      rccLink.classList.add('mt-2')
      rccLink.classList.add('rlink')
      rccLink.setAttribute('name', 'recommendationLink')
      rccLink.setAttribute('placeholder', 'Enter here');
      //creating element for name
      let rname = document.createElement('input')
      rname.classList.add('form-control')
      rname.classList.add('mt-2')
      rname.classList.add('rname')
      rname.setAttribute('name', 'rname')
      rname.setAttribute('placeholder', 'Enter here');
      let rnameL = document.createElement('label')
      rnameL.innerHTML = "Name of Recommender"
      //creating element for designation
      let rdesg = document.createElement('input')
      rdesg.classList.add('form-control')
      rdesg.classList.add('mt-2')
      rdesg.classList.add('rdesg')
      rdesg.setAttribute('name', 'rdesignation')
      rdesg.setAttribute('placeholder', 'Enter here');
      let rdesgL = document.createElement('label')
      rdesgL.innerHTML = "Designation of Recommender"
      //adding the fields
      let rcc = document.getElementById('rcc')
      let r = document.getElementById('rccButton')
      rcc.insertBefore(rccLinkL, r)
      rcc.insertBefore(rccLink, r)
      rcc.insertBefore(rnameL, r)
      rcc.insertBefore(rname, r)
      rcc.insertBefore(rdesgL, r)
      rcc.insertBefore(rdesg, r)
    }
    function addp() {
      console.log("Adding New RCC")
      //creating elementfor Link
      let pLink = document.createElement('input')
      let pLinkL = document.createElement('label')
      pLinkL.innerHTML = "Publication Link"
      pLink.classList.add('form-control')
      pLink.classList.add('mt-2')
      pLink.classList.add('pLink')
      pLink.setAttribute('name', 'pLink')
      pLink.setAttribute('placeholder', 'Enter here');
      //creating element for name
      let pname = document.createElement('input')
      pname.classList.add('form-control')
      pname.classList.add('mt-2')
      pname.classList.add('pname')
      pname.setAttribute('name', 'pname')
      pname.setAttribute('placeholder', 'Enter here');
      let pnameL = document.createElement('label')
      pnameL.innerHTML = "Name of Publication"
      //creating element for description
      let pDescription = document.createElement('input')
      pDescription.classList.add('form-control')
      pDescription.classList.add('mt-2')
      pDescription.classList.add('pDescription')
      pDescription.setAttribute('name', 'pDescription')
      pDescription.setAttribute('placeholder', 'Enter here');
      let pDescriptionL = document.createElement('label')
      pDescriptionL.innerHTML = "Publication Description"
      //adding the fields
      let p = document.getElementById('p')
      let pButton = document.getElementById('pButton')
      p.insertBefore(pLinkL, pButton)
      p.insertBefore(pLink, pButton)
      p.insertBefore(pnameL, pButton)
      p.insertBefore(pname, pButton)
      p.insertBefore(pDescriptionL, pButton)
      p.insertBefore(pDescription, pButton)
    }
  </script>
  <form action="/home" method="POST">
    <div class="row" style="margin-left:60px">
      <div class='container'>
        <h1 class='text-center my-2'> Resume Generator </h1>
      </div>

      <div class="col-lg-5" style="margin-left: 100px;">
        <h3>Personal Information</h3>
        <div class="form-group">
          <label for="nameF">Your Name</label>
          <input type="text" class="form-control nameF" id="nameF" placeholder="Enter your name" name="n"
            value="Default Name">

        </div>

        <div class="form-group">
          <label for="addressField">Your Email</label>
          <textarea type="text" name="email" class="form-control email" id="addressField"
            placeholder="Enter your address" rows="5s">default@gmail.com</textarea>

        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" name="city" class="form-control city" id="city" placeholder="Enter your city"
            value="Mumbai"></input>

        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text" name="state" class="form-control state" id="state" placeholder="Enter your state"
            value="MH"></input>

        </div>
        <div class="form-group">
          <label>Country</label>
          <input type="text" name="country" class="form-control country" id="country" placeholder="Enter your country"
            value="India"></input>

        </div>

        <div class='form-group mt-2' id='contactNumber'>
          <label for="">Contact Number</label>
          <input type="text" value="101010" class="form-control contactNumber contactField" id="contactField"
            name="contactNumber" placeholder="Enter here"></input>
          <div class='container text-center mt-2' id='contactAddButton'>
            <button type="button" class='btn btn-primary btn-sm' onclick="addNewContactField()">Add</button>
          </div>
        </div>
        <p class='text-secondary my-3'>Important Links</p>
        <div class="form-group mt-2">
          <label for="fbField">Facebook</label>
          <input type="text" name="fb" class="form-control" id="fbField" placeholder="Enter here"
            value="default@fb.com">

        </div>
        <div class="form-group mt-2">
          <label for="instaField">Others</label>
          <input type="text" class="form-control" name="others" id="instaField" placeholder="Enter here"
            value="default@other.com">

        </div>
        <div class="form-group mt-2">
          <la bel for="instaField">Github</label>
            <input type="text" class="form-control" name="git" id="instaField" placeholder="Enter here"
              value="default@github.com">

        </div>
        <div class="form-group mt-2">
          <label for="linkedinField">Linkedin</label>
          <input type="text" class="form-control" name="linkedin" id="linkedinField" placeholder="Enter  here"
            value="default@linkedin.com">

        </div>
        <label class='text-secondary my-3'>Skills</label>
        <div class='form-group mt-2 skill' id="skill">
          <label for="">Skill Name</label>
          <input class="form-control skillName" type="text" name="skillName" id="skillName" value="Coding"></input>


          <div class='form-group mt-2'>
            <label for="">Level of Expertise</label>
            <input class="form-control levelOfExpertise" type="text" name="levelOfExpertise" id="levelOfExpertise"
              value="10"></input>
          </div>
          <div class='container text-center mt-2' id='skillButton'>
            <button type="button" class='btn btn-primary btn-sm' onclick="addNewSkill()">Add</button>
          </div>
        </div>
        <div class="form-group">
          <p class='text-secondary my-3'>Accomplishments</p>
          <div class="form-group mt-2" id="acc">
            <label>Accomplishment Name</label>
            <input type="text" class="form-control accName" id="accName" name="accName" placeholder="Enter here"
              value="Best Coder">
            <label>Acc Description</label>
            <input type="text" class="form-control accDesc" id="accDesc" name="accDesc" placeholder="Enter here"
              value="Won the title">
            <div class='container text-center mt-2' id='accButton'>
              <button type="button" class='btn btn-primary btn-sm' onclick="addNewAcc()">Add</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class='text-secondary my-3'>Recommendations</p>
          <div class="form-group mt-2 " id="rcc">
            <label> Recommendation Link</label>
            <input type="text" class="form-control rlink" id="recommendationLink" name="recommendationLink"
              placeholder="Enter here" value="DefaultRcmnder.com">
            <label> Name of Recommender</label>
            <input type="text" class="form-control rname" id="rname" name="rname" placeholder="Enter here"
              value="DefaultRcmnder">
            <label>Designation of Recommender</label>
            <input type="text" class="form-control rdesg" id="rdesignation" name="rdesignation" placeholder="Enter here"
              value="professor">
            <div class='container text-center mt-2' id='rccButton'>
              <button type="button" class='btn btn-primary btn-sm' onclick="addRcc()">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3>Professional Information </h3>
        <div class='form-group mt-2'>
          <label for="">Objective</label>
          <textarea type="text" class="form-control objective" name="objective" id="o" placeholder="Enter here"
            rows="2">This is the objective of Default Name</textarea>

        </div>
        <div class='form-group mt-2 ' id='we'>


          <!--<div class='form-group mt-2' id='eq'>
<label for="">Academic Qualifications</label>
<textarea type="text" class="form-control eqField"  placeholder="Enter here" rows="2"></textarea>
<div class='container text-center mt-2' id='aqAddButton'>
<button class='btn btn-primary btn-sm' onclick='addNeweqField()'>Add</button>
</div>
</div>-->
          <label style="padding:10px">Academic Qualification</label>

          <div class="form-group" id='e'>
            <div>
              <label>Institution Name</label>

              <input id="institutionName" name="educationId" class="form-control institutionName" type="text"
                placeholder="Enter here" value="PESU"></input>
            </div>
            <label>Course Name</label>

            <input id="courseName" name="courseName" class="form-control courseName" type="text"
              placeholder="Enter here" value="BTech"></input>
            <div>
              <label>Course Location</label>

              <input id="courseLocation" name="courseLocation" class="form-control courseLocation" type="text"
                placeholder="Enter here" value="India"></input>
            </div>
            <div>
              <label>GPA</label>

              <input id="gpa" name="gpa" class="form-control gpa" type="text" placeholder="Enter here"
                value="9.9"></input>
            </div>
            <div>
              <label>Year of study</label>

              <input class='form-control eduDate' name="eduDate" id="eduDate" type="date" value="1990-01-01"></input>
            </div>
            <div class='container text-center mt-2' id='eduButton'>
              <button type="button" class='btn btn-primary btn-sm' onclick='addEducation()'>Add</button>
            </div>
          </div>

          <div class="form-group">
            <label for="" style="padding:10px;">Project Work</label>
            <div id="pr">
              <label for="" name="projectName">Project Name</label>
              <input type="text" class="form-control projectName" id="projectName" name="projectName"
                value="DBMS"></input>
              <label>Project Description</label>
              <input type="text" class="form-control projectDescription" id="projectD" name="projectDescription"
                value="Resume Mgmt."></input>
              <label>Work date</label>
              <input type="date" class='form-control workDate' id="workDate" name="workDate" value="2021-01-01"></input>
              <div class='container text-center mt-2' id='prButton'>
                <button type="button" class='btn btn-primary btn-sm' onclick='addNewProj()'>Add</button>
              </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <p class='text-secondary my-3'>Certifications</p>
          <div class="form-group mt-2" id="c">
            <label>Certficate Name</label>
            <input type="text" class="form-control certName" id="certName" name="certName" placeholder="Enter here"
              value="Hackathon1">
            <label>Certficate Description</label>
            <input type="text" class="form-control certDesc" id="certDesc" name="certDesc" placeholder="Enter here"
              value="Won the hackathon">
            <div class='container text-center mt-2' id='cert'>
              <button type="button" class='btn btn-primary btn-sm' onclick='addNewCertification()'>Add</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class='text-secondary my-3'>Job Details</p>
          <div class="form-group mt-2" id="j">
            <label>Job Title</label>
            <input type="text" class="form-control jobName" id="jobName" name="jobName" placeholder="Enter here"
              value="Developer">
            <label>Job Description</label>
            <input type="text" class="form-control jobDesc" id="jobDesc" name="jobDesc" placeholder="Enter here"
              value="Python Application programmer">
            <label>Job Location</label>
            <input type="text" class="form-control jobLocation" id="jobLocation" name="jobLocation"
              placeholder="Enter here" value="London">
            <label>Company</label>
            <input type="text" class="form-control company" id="company" name="company" placeholder="Enter here"
              value="DELL">
            <label>Start Date</label>
            <input type="date" class="form-control stDate" id="stDate" name="stDate" placeholder="Enter here"
              value="1990-01-01">
            <label>End Date</label>
            <input type="date" class="form-control enDate" id="enDate" name="enDate" placeholder="Enter here"
              value="2001-01-01">
            <div class='container text-center mt-2' id='jB'>
              <button type="button" class='btn btn-primary btn-sm' onclick='addJ()'>Add</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class='text-secondary my-3'>Publications</p>
          <div class="form-group mt-2 p" id='p'>
            <label> Publication Link</label>
            <input type="text" class="form-control pLink" id="pLink" name="pLink" placeholder="Enter here"
              value="publink.com">
            <label>Publication Name</label>
            <input type="text" class="form-control pname" id="pname" name="pname" placeholder="Enter here"
              value="DBMSpub">
            <label>Publication description</label>
            <input type="text" class="form-control pDescription" id="pDescription" name="pDescription"
              placeholder="Enter here" value="desc. DBMSpub">
            <div class='container text-center mt-2' id='pButton'>
              <button type="button" class='btn btn-primary btn-sm' onclick='addp()'>Add</button>
            </div>
          </div>
        </div>
      </div>

      <div class='container text-center mt-5' style="padding-bottom:50px">
        <button class='btn btn-primary btn-lg' onclick="generateCV()">Generate CV</button>
      </div>
  </form>
</body>


<div class='container' id='cvTemplate'>

  <div class='row'>

    <div class='col-md-3 text-center' style="background-color:aquamarine;">
      <div class='container'>

        <div>
          <ul id="contactT" style="list-style-type:none;">
            <li>Contact Number 1</li>
            <li>Contact Number 2</li>
          </ul>
        </div>
        <p id="addressT">Address </p>
        <hr />
        <p>
          <a id="linkedinT" href='#'>Linkedin Link</a>
        </p>
        <p>
          <a id="instaT" href='#'>Instagram Link</a>
        </p>
        <p>
          <a id="fbT" href='#'>Facebook Link</a>
        </p>
      </div>
      <h6>Skills</h6>
      <ul id="skillReplace" style="list-style-type: none;">
        <li>Skill 1</li>
        <li>Skill 2</li>
      </ul>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Recommendations</h3>

        </div>
        <div class="card-body " id="rccReplace">


          <p id="recommendationLinkT"><a id="recommendationLinkT">Recommendation Link 1</a></p>
          <p id="rnameT"> Name of Recommender</p>
          <p id="rdesignationT"> Designation of Recommender</p>


        </div>
      </div>
    </div>
    <div class="col-md-8 py-2" style="margin-right:10px">
      <h1 class='text-center' id="name2" style='font-weight: 980'>Candidate Name</h1>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Objective</h3>
        </div>
        <div class="card-body">
          <p id="objT">Sample objective </p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Work Experience</h3>

        </div>
        <div class="card-body">
          <ul id="weT">
            <li>Work Title</li>
            <li>Work Location</li>
            <li>Work Company</li>
          </ul>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Academic Qualification</h3>

        </div>
        <div class="card-body" id='eReplace'>
          <h3 id="institutionNameT">Institution Name</h3>

          <p id="courseNameT">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p id="courseLocationT">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p id="gpaT">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>

        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-header" style="background-color:aquamarine">
            <h3>Project Work</h3>
          </div>
          <div id='prReplace'>
            <p id="projectNameT" name="projectNameT">onsectetur adipisicing elit</p>
            <p id="projectDT" name="projectDescriptionT">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <p id="workDateT" name="workDateT"></p>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Certification Name</h3>

        </div>
        <div class="card-body">

          <div id="certReplace" id="certReplace">
            <p id="certNameT">Certificate Name</p>
            <p id="certDescT">Certificate Description</p>
          </div>


        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Award Name</h3>

        </div>
        <div class="card-body" id="accReplace">


          <p id="accNameT">Name</p>
          <p id="accDescT"> Description</p>

        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Job Details</h3>

        </div>
        <div class="card-body" id="jReplace">


          <p id="jobNameT">Job Title</p>
          <p id="jobDescT"> Job Description</p>
          <p id="companyT"> Company</p>
          <p id="jobLocationT">Location</p>

        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header" style="background-color:aquamarine">
          <h3>Publication Details</h3>

        </div>
        <div class="card-body" id="pReplace">


          <p id="pnameT">Job Title</p>
          <p id="pDescriptionT"> Job Description</p>
          <p id="pLinkT"> Company</p>


        </div>
      </div>
      <div class='container mt-3 text-center'>
        <button class="btn " style="background-color:aquamarine" onclick="printCV()">
          Print cv
        </button>
      </div>

      <div class='container mt-3 text-center'>
        <button class="btn " style="background-color:aquamarine" onclick="window.location.reload()">
          Reset Form
        </button>
      </div>

      <div class='col-md-8'>
      </div>
    </div>


  </div>

</div>

</html>